body {
    background-color: white;
    overflow-x: hidden;
    font-family: Franklin Gothic Medium;
    animation-name: load_c;
    animation-delay: .4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.bubble {
    width:250px;
    margin-top:-1000px;
    z-index:1;
    height:250px;
    position: absolute;
    background-color:#2d0e4480;
    border-radius:500px;
}
.logo {
    font-family: Garamond;
    animation-name: load;
    animation-duration: .4s;
    position:absolute;
    color: #2d0e44;
    font-size: 25px;
    font-weight: 500;
    z-index:99;
    left: 86px;
    right: 0;
    margin: 0 auto;
    margin-top: 19px;
    width:300px;
}
.footer {
    background-color:#2d0e44;
    color:white;
}
.header {
    height:50px;
    margin-left: -10px;
    margin-top: -25px;
    background-color:white;
    margin-right:-8px;
}
.gotcha {
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    position:relative;
    z-index:98;
    color:white;
    font-family: Franklin Gothic Bold;
    font-size: 26vw;
    margin-top:-7vw;
    margin-left:-26px;
}
.page {
    width:105%;
    height:100vh;
    position:relative;
    overflow-y:hidden;
    margin-top:-24vw;
    margin-left:-10px;
    background-color:white;
}
.content {
    font-family: Franklin Gothic Medium;
    font-size:20px;
    padding-top:250px;
    width:50%;
    margin: 0 auto;
}

@font-face{
    font-family: "Franklin Gothic Medium";
    src: url("./fonts/framd.ttf");
    url("./fonts/framd.ttf")format("ttf");
}

@font-face {
    font-family: "Franklin Gothic Bold";
    src: url("./fonts/FRAHV.TTF");
    url("./fonts/FRAHV.TTF")format("ttf");
}

@keyframes load {
from {margin-top:-15px;}
to {margin-top:19px;}
}

@keyframes load_c {
from {background-color:white;}
to {background-color:#2d0e44;}
}
@keyframes bubble {
0% {margin-top:-500px;}
100% {opacity:1;margin-top:1000px;}
}
