html {
      line-height: 1.15; /* 1 */
        -ms-text-size-adjust: 100%; /* 2 */
          -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    background-color: black;
    overflow-x: hidden;
    font-family: Franklin Gothic Medium;
    animation-name: load_c;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.buttons {
    height:100px;
    text-align:center;
    margin: auto;
    padding-bottom:300px;
    width:52%;
}
.button {
    display:inline-block;
    position:relative;
    z-index:99;
    height:100%;
    text-align:left;
    cursor:pointer;
    box-shadow:0px 0px 200px #000;
    color:rgba(0, 0, 0, 0);
    white-space:nowrap;
    width:100px;
    border-radius:300px;
    background-color:#2d0e44;
    transition: all .4s ease;
}
.button_text {
    transition: all 0.2s ease;
    font-size:20px;
    margin-left:35px;
    margin-top:-37px;
}
.button_image {
    height:50px;
    margin-left:-75px;
    margin-top:23px;
    left:100%;
    position:relative;
}
.bubble {
    width:250px;
    margin-top:-1000px;
    z-index:1;
    height:250px;
    position: absolute;
    background-color:#2d0e44;
    border-radius:500px;
}
.logo {
    font-family: Garamond;
    animation-name: load;
    animation-duration: 1s;
    position:absolute;
    color: white;/*#2d0e44;*/
    font-size: 25px;
    font-weight: 500;
    z-index:99;
    left: 86px;
    right: 0;
    margin: 0 auto;
    margin-top: 19px;
    width:300px;
}
.footer {
    background-color: black;/*#2d0e44;*/
    color:black;
    animation-name:load_c;
    animation-delay:1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-duration:4s;
}
.header {
    height:50px;
    margin-left: -10px;
    margin-top: -25px;
    background-color:black;
    margin-right:-8px;
}
.gotcha {
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    position:relative;
    font-weight:200;
    z-index:98;
    color:black;
    font-family: Stencil Regular;/*Franklin Gothic Bold;*/
    font-size: 27vw;
    margin-top:-7vw;
    -webkit-margin-top:-1vw;
    margin-left:-2.5vw;
}
.page {
    width:105%;
    position:relative;
    z-index:99;
    overflow-x:hidden;
    overflow-y:hidden;
    margin-top:-26vw;
    -webkit-margin-top: -25vw;
    margin-left:-10px;
    background-color:black;
}
.content {
    font-family: Franklin Gothic Medium;
    font-size:20px;
    color:white;
    padding-top:40vh;
    padding-bottom:75px;
    width:52%;
    margin: 0 auto;
}

.button:hover {
    width:55%;
}

.button:hover .button_text{
    margin-left:20px;
    color:white;
}

::selection {
    background:#2d0e44;
}

::-moz-selection {
    background:#2d0e44;
}

@media screen and (max-width: 750px) {
    .bubble {
        display:none;
    }
    .content {
        padding-top:50px;
        font-size:25px;
        padding-bottom:0px;
        width:90%;
    }
    .content h1{
        display:none;
    }
    .button_text {
        color:white;
    }
    .buttons {
        margin-left:10%;
    }
    .button {
        width:150%;
        margin-bottom: 20px;
        float:none !important;
    }
    .button:hover {
        width:150%;
    }
}

@font-face {
    font-family: 'Stencil Regular';
    src: url('./fonts/stencil-webfont.woff2') format('woff2'),
    url('./fonts/stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Franklin Gothic Medium";
    src: url("./fonts/framd.ttf");
    url("./fonts/framd.ttf")format("ttf");
}

@font-face {
    font-family: "Franklin Gothic Bold";
    src: url("./fonts/FRAHV.TTF");
    url("./fonts/FRAHV.TTF")format("ttf");
}

@keyframes load {
from {margin-top:-15px;}
to {margin-top:19px;}
}

@keyframes load_c {
from {background-color:black;}
to {background-color:#2d0e44} /*hite; #2d0e44;*/
}
@keyframes bubble {
0% {margin-top:-500px;}
100% {opacity:1;margin-top:1000px;}
}
