body {
    background-color: black;
    overflow-x: hidden;
    font-family: Franklin Gothic Medium;
    animation-name: load_c;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.bubble {
    width:250px;
    margin-top:-1000px;
    z-index:1;
    height:250px;
    position: absolute;
    background-color:#2d0e44;
    border-radius:500px;
}
.logo {
    font-family: Garamond;
    animation-name: load;
    animation-duration: 1s;
    position:absolute;
    color: white;/*#2d0e44;*/
    font-size: 25px;
    font-weight: 500;
    z-index:99;
    left: 86px;
    right: 0;
    margin: 0 auto;
    margin-top: 19px;
    width:300px;
}
.footer {
    background-color: black;/*#2d0e44;*/
    color:black;
    animation-name:load_c;
    animation-delay:1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-duration:4s;
}
.header {
    height:50px;
    margin-left: -10px;
    margin-top: -25px;
    background-color:black;
    margin-right:-8px;
}
.gotcha {
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    position:relative;
    z-index:98;
    color:black;
    font-family: Stencil;/*Franklin Gothic Bold;*/
    font-size: 26vw;
    margin-top:-4vw;
    margin-left:-26px;
}
.page {
    width:105%;
    position:relative;
    overflow-x:hidden;
    overflow-y:hidden;
    margin-top:-29vw;
    margin-left:-10px;
    background-color:black;
}
.content {
    font-family: Franklin Gothic Medium;
    font-size:20px;
    color:white;
    padding-top:300px;
    padding-bottom:450px;
    width:50%;
    margin: 0 auto;
}

@font-face{
    font-family: "Stencil";
    src: url("./fonts/Stencil.ttf");
    url("./fonts/Stencil.ttf")format("ttf");
}

@font-face{
    font-family: "Franklin Gothic Medium";
    src: url("./fonts/framd.ttf");
    url("./fonts/framd.ttf")format("ttf");
}

@font-face {
    font-family: "Franklin Gothic Bold";
    src: url("./fonts/FRAHV.TTF");
    url("./fonts/FRAHV.TTF")format("ttf");
}

@keyframes load {
from {margin-top:-15px;}
to {margin-top:19px;}
}

@keyframes load_c {
from {background-color:black;}
to {background-color:#2d0e44} /*hite; #2d0e44;*/
}
@keyframes bubble {
0% {margin-top:-500px;}
100% {opacity:1;margin-top:1000px;}
}
