html, body {
    background-color:black;
    height:100%;
    overflow-y:hidden;
    width:100%;
    margin: 0;
    font-family: Franklin Gothic Medium;
}
.log form {
    top:350px;
}
.reg form {
    color:#2d0e44;
    top:725px;
}
form {
    margin: 0 auto;
    position:absolute;
    text-align:center;
    left:0;
    right:0;
    width:75%;
    transform: translateY(-191px);
}
label {
    position: relative;
    top:-10px;
    right:35%;
}
span {
	position:absolute;
	margin-top: 39px;
	margin-left:-511px;
	width:500px;
	text-align:right;
	font-size:12px;
}
.warning {
	height:25px;
	background-color:white;
	text-align:center;
}
.desc_box {
	width:80%;
	left:0;
	right:0;
	transition: all 0.4s ease;
	margin:0 auto;
	height:600px;
	text-align:center;
	border-radius:10px;
	background-color:#2d0e44;
	position:absolute;
	z-index:100;
	transform:translateY(-50%);
}

.log {
    background-color:#2d0e44;
    border-radius:15px;
    height:50%;
    width:100%;
}
.reg {
    background-color:white;
    border-radius:15px;
    height:50%;
    width:100%;
}
.blocker_text_container h1 {
    display:inline-block;
    font-size: 25px;
    margin: 0;
}
.blocker_text_container {
    bottom:0;
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    width:500px;
}
.blocker {
    background-color:black;
    z-index:99;
    position:relative;
    height:241px;
    width:100%;
}
.logreg {
    height:975px;
    color:white;
    position:relative;
    left:0;
    right:0;
    margin: 0 auto;
    width:500px;
}

input[type=text], select, input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin-top:-4px;
    margin-bottom:30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 300px;
}

.reg input[type=text], .reg input[type=password], select {
    color:white;
    background-color:#2d0e44;
}

textarea {
	padding:10px;
	border-radius:10px;
	width:80%;
	height:65%;
	position:relative;
	font-family: Franklin Gothic Medium;
	top:38%;
	resize:none;
	transform:translateY(-50%);
}
    
input[type=submit], #c_submit {
    width: 25%;
    border-radius:300px;
    background-color: #965CC6;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    transition:all 0.4s ease;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover, #c_submit:hover {
    width:80%
}
.no_submit {
	top:-500px;
}

.submit {
	top:50%;
}

.transform {
    transition:all 0.4s ease;
    top:1px;
}
.transform-active {
    transition:all 0.4s ease;
    top:-488px;
}
.unselect {
    transition:all 0.4s ease;
    cursor:pointer;
    color:white;
}
.select {
    transition:all 0.4s ease;
    cursor:default;
    color:#2d0e44;
}


#register {
    position:absolute;
    right:0;
}

@media all and (max-width: 760px){
    .logreg {
        width:100%;
    }
    .blocker_text_container {
        width:100%;
    }
}
@media all and (max-height:750px){
	body {
	overflow-y:auto;
	}	
}

@font-face{
    font-family: "Franklin Gothic Medium";
    src: url("./fonts/framd.ttf");
    url("./fonts/framd.ttf")format("ttf");
}

@font-face {
    font-family: "Franklin Gothic Bold";
    src: url("./fonts/FRAHV.TTF");
    url("./fonts/FRAHV.TTF")format("ttf");
}
