html {
      line-height: 1.15; /* 1 */
      margin: 0;
      height:100%;
      -ms-text-size-adjust: 100%; /* 2 */
      -webkit-text-size-adjust: 100%; /* 2 */
}
label {
	margin-top:5px;
}
body {
      overflow-x:hidden;
      background-color:black;
      height:100%;
      margin: 0;
}
textarea {
	height:300px;
	width:50%;
	border-radius:15px;
	border:none;
	padding:10px;
	resize:none;
}
input {
	border:none;
	font-size:16px;
	width:50%;
	font-family:Franklin Gothic Medium;
	padding:10px;
	border-radius:15px;
}
input[type=submit]{
    width: 25%;
    border-radius:300px;
    background-color: #965CC6;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    transition:all 0.4s ease;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    width:80%
}
p a {
	text-decoration:none;
	color:white;
	padding-right:20px;
	transition: all 0.4s ease;
}
p a:hover {
	color:black;
}
.selectbox select {
	font-family: Franklin Gothic Medium;
	font-size: 16px;
	border:none;
	background-color:white;
}

.selectbox {
	border-radius:15px;
	background-color:white;
	overflow: hidden;
	width:50%;
	margin: 0 auto;
	margin-bottom:35px;
	margin-top:5px;
	padding:10px;
}
.page_wrapper {
	min-height:100%;
	margin: 0 auto -50px;
}
.header {
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    z-index:98;
    position:absolute;
    margin-top:-4vw;
    color:black;
    font-family: Stencil Regular;/*Franklin Gothic Bold;*/
    font-size: 15vw;
    height:13vw;
    white-space:nowrap;
    width:100%;
    background-color:#2d0e44;
}
.content {
	color:white;
	font-family: Franklin Gothic Medium;
	width:50%;
	left:0;
	position: relative;
	text-align: center;
	right:0;
	padding-bottom:20px;
	margin: 0 auto;

}
.footer {
	height:50px;
	right:0;
	bottom:0;
	left:0;
    	background-color:#2d0e44;
	font-family:Franklin Gothic Medium;
}
.logout {
	color:white;
	display:inline;
	float:right;
	text-decoration:none;
	margin:13px;
	transition:0.4s all ease;
}
.logout:hover {
	color:black;
}

@media all and (max-width: 760px){
	.selectbox {
		width:90%;
	}
	.content {
		width:100%;
	}
	input {
		width:90%;
	}
	textarea {
		width:90%;
	}
	.bg {
		display:none;
	}
	.footer {
		font-size:13px;
	}
}

::selection {
    background:#2d0e44;
}

::-moz-selection {
    background:#2d0e44;
}

@font-face {
    font-family: 'Stencil Regular';
    src: url('./fonts/stencil-webfont.woff2') format('woff2'),
    url('./fonts/stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Franklin Gothic Medium";
    src: url("./fonts/framd.ttf");
    url("./fonts/framd.ttf")format("ttf");
}

@font-face {
    font-family: "Franklin Gothic Bold";
    src: url("./fonts/FRAHV.TTF");
    url("./fonts/FRAHV.TTF")format("ttf");
}
