html {
	height:100%;
      line-height: 1.15; /* 1 */
      -ms-text-size-adjust: 100%; /* 2 */
      -webkit-text-size-adjust: 100%; /* 2 */
}
body {
	height:100%;
      background-color:black;
      margin: 0;
}
p a {
	text-decoration:none;
	color:white;
	padding-right:10px;
	transition: all 0.4s ease;
}
p a:hover {
	color:black;
}
.wrapper {
	min-height:100%;
	margin-bottom:-50px;
	padding-bottom:50px;
}
.spy {
	width:50%;
	position:relative;
	padding-bottom:15px;
	left:0;
	right:0;
	color:white;
	font-family: Franklin Gothic Medium;
	margin: auto;
	margin-top:70px;
	border-radius:5px;
	background-color:#2d0e44;
}
.spy h1 {
	padding-top:10px;
	margin: 0;
	margin-left:15px;
}
.spy p {
	left:6%;
	margin-top:13px;
	position:relative;
	display:inline-block;
	width:90%;
}
.header {
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    position:relative;
    font-weight:200;
    z-index:98;
    color:black;
    font-family: Stencil Regular;/*Franklin Gothic Bold;*/
    font-size: 18vw;
    margin-top:-4vw;
    height:15vw;
    -webkit-margin-top:-1vw;
    margin-left:-2.5vw;
    background-color:#2d0e44;
}
.footer {
	width:100%;
	margin-top:27px;
	position:relative;
	z-index:100;
	font-family: Franklin Gothic Medium;
    	background-color:#2d0e44;
	height:50px;
}
.logout {
	color:white;
	display:inline;
	float:right;
	text-decoration:none;
	margin:13px;
	transition:0.4s all ease;
}
.logout:hover {
	color:black;
}

@media all and (max-width: 760px){
	.spy {
		width:100%;
	}
}

@font-face {
    font-family: 'Stencil Regular';
    src: url('./fonts/stencil-webfont.woff2') format('woff2'),
    url('./fonts/stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Franklin Gothic Medium";
    src: url("./fonts/framd.ttf");
    url("./fonts/framd.ttf")format("ttf");
}

@font-face {
    font-family: "Franklin Gothic Bold";
    src: url("./fonts/FRAHV.TTF");
    url("./fonts/FRAHV.TTF")format("ttf");
}
